<h1>About#show</h1>
<p>Find me in app/views/about/show.html.erb</p>

Every day, 34000 people are forced to flee their homes.
GRSI helps to create opportunities for their citizens to participate directly in helping
to create refugees.
Private citizens sponsor refugees to their area, providing funds for living expenses and
providing social support for them.
To become a sponsor, join here.
If you are a sponsor or intend to become one, you can sign up here to chat with experienced
sponsors.
If you are an experienced sponsor and want to provide help for newer sponsors, you can
sign up here to mentor.