<style type="text/css">
	p {
		font-size: 30px;
		text-align: center;
	}
</style>
<p>
Every day, 34000 people are forced to flee their homes.
<br><hr><br>
GRSI helps to create opportunities for their citizens to participate directly in helping
to create refugees.
<br><hr><br>
Private citizens sponsor refugees to their area, providing funds for living expenses and
providing social support for them.
<br><hr><br>
To become a sponsor, join here.
<br><hr><br>
If you are a sponsor or intend to become one, you can sign up here to chat with experienced
sponsors.
<br><hr><br>
If you are an experienced sponsor and want to provide help for newer sponsors, you can
sign up here to mentor.
</p>