
<style type="text/css">
.nav_elements {
	text-align: center;
}
#links {
	text-align: center;
  list-style-type: none;
  overflow: hidden;
}
li {
	height: 100%;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
}
li:hover {
  background-color: rgb(90,90,90);
  color: white;
  transition: .3s
}

#linksDiv {
	display: inline-block;
}
nav {
	font-size:30px;
	font-family: 'GothamMedium', sans-serif;
	vertical-align: top;
	position: fixed;
	background: white;
	width: 100%;
	height: 72px;
	border: solid 1px rgb(100,100,100);
}
</style>

<nav style="font-size:30">

	<%= image_tag("grsi_logo.png", :alt=>"GRSI Logo", :width=>"246", :height=>"70", :style=>"vertical-align: top" ) %>

	
	<td id="links">
		<div id="linksDiv">
			<li><a>Resources</a></li>
			<li><a>About Us</a></li>
		</div>
	</td>

	<!-- if signed in:
		if has chat:
			chat
		if no chat or mentor not at limit:
			find chat
		name
	else:
		sign in -->

</nav>

