<style>

#people_list {
  margin: 100px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
	width: 50%;
}
.person {
  border: 1px solid rgb(120,120,120);
  border-radius: 20px;
  background: rgb(220,220,220);
  padding: 20px;
}
.left {
	text-align: left;
}
.refugees {
	right: 0px;
	text-align: center;
	float: right;
}
.name {
	font-size: 50px;
	float: left;
}
</style>

<div style="text-align: center;">

  <div id="people_list">

		<div class="person">

			<span class="left name">Person Name</span>
			<span class=refugees>
				<h2>0</h2>
				Refugees Sponsored
			</span>
			<br/><br/><br/>
			<div class=left>Language</div>
			<div class=left>Country</div>
			<div class=left>This is my bio it should be about this long, maybe a bit longer</div>

		</div>

	</div>
</div>
